body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
}

/* Dashboard Background */
.dashboard-body {
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    color: white;
}

/* Top Bar */
.top-bar {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background: rgba(0,0,0,0.3);
}

.logout-btn {
    color: white;
    text-decoration: none;
    background: crimson;
    padding: 8px 15px;
    border-radius: 6px;
}

/* Summary Cards */
.card-container {
    display: flex;
    justify-content: space-around;
    margin: 30px;
}

.summary-card {
    padding: 20px;
    width: 250px;
    border-radius: 12px;
    text-align: center;
    background: rgba(255,255,255,0.1);
    
}

.income { border-left: 6px solid #28a745; }
.expense { border-left: 6px solid #dc3545; }
.profit { border-left: 6px solid #ffc107; }

/* Form */
.form-container {
    background: white;
    color: black;
    margin: 30px;
    padding: 20px;
    border-radius: 12px;
}

.form-container form {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.form-container input,
.form-container select {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.form-container button {
    padding: 10px 20px;
    border: none;
    background: #2a5298;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

/* Chart */
.chart-container {
    background: white;
    color: black;
    margin: 30px;
    padding: 20px;
    border-radius: 12px;
}

/* Table */
.table-container {
    background: white;
    color: black;
    margin: 30px;
    padding: 20px;
    border-radius: 12px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background: #2a5298;
    color: white;
}